/*reset*/
body {line-height: 2.0;}

.nav-bar {
    background-color: black;
    display: flex;
}
.nav-links {
    display: flex;
    color:aliceblue;
    gap: 20px;
    list-style-type: none;

}

/*--colors--*/

.bg-dark {background-color: black;}
.bg-light {background-color:burlywood;}
.bg-white {background-color:chocolate;}
.text-white {color:#ffff;}
.text-gray {color:black;}
.text-black {color:black;}

/*--spacing--*/

.m-o {margin: 4px;}
.m-2 { margin: bottom 4px;}
.m-3 {margin:3px;}
.M-4 {margin:2px;}




/*--text--*/

.text-center{text-align: center;}
.text-left{text-align:left;}
.text-bold{ font-weight:3px;}
.text-sm{font-size:4rem;}
.text-md{font-size:3rem;}
.text-lg{font-size:3rem;}
.text-xl{font-size: 2rem}
.font-sans{font-family: sans-serifs}